@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .portfoliobg {
        width: 100%;
        transition-duration: 2000ms;

        background: linear-gradient(
            338deg,
            rgb(94, 192, 174) 0%,
            rgb(117, 117, 174) 26%,
            rgb(188, 112, 112) 63%,
            rgb(112, 111, 179) 100%
        );
    }

    .heroButton {
        @apply px-6 py-2 uppercase text-xs tracking-widest text-gray-800 transition-all hover:text-secondary/50;
    }

    .contactInput {
        @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-2 border-[#242424] text-gray-500 placeholder-gray-500 transition-all focus:border-secondary/40 focus:text-secondary/40 hover:border-secondary/40;
    }
}
